<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>

  <body>

    <nav class="navbar navbar-light bg-light justify-content-between">
      <div>
        <span class="navbar-brand mx-3 mb-0 h1"><%= link_to 'Simple Airbnb', flats_path, class: "title" %></span>
      </div>
      <div class='flex align-center'>
        <%= simple_form_for :search, url: flats_path, method: "GET", html: { class: 'flex', id: 'search-form' } do |f| %>
          <%= f.input :name, input_html: {value: (params[:search] ? params[:search][:name] : '')}, label:false, placeholder: 'Search' %>
          <%= f.submit "Search", class: "btn btn-outline-success ms-3" %>
        <% end %>
        <span class="mx-3"><%= link_to 'Add Flat', new_flat_path, class: "btn btn-outline-primary align-center" %></span>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
